* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

body {
    width: 100%;
    font-family: Helvetica;
}

div.box {
    position: relative;
    background-color: grey;
    border: 1px solid black;
    margin: 20px;
    padding: 35px 15px;

}

.chicken,
.beef,
.sushi {
    position: absolute;
    border: 1px solid black;
    text-align: center;
    width: 95px;
    top: 0px;
    right: 0px;
    padding: 5px;
}

.chicken {
    background-color: rosybrown;
}

.beef {
    background-color: rgb(211, 17, 17);
}

.sushi {
    background-color: rgb(231, 231, 6);
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12 {
        width: 100%;
        clear: both;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}
